.Rproj.user
.Rhistory
.RData
.Ruserdata
app.R
helpers.R
plotly.R
shiny/
*.fst
*.DS_Store
.Rproj
/open_dengue_1.3
data/releases/V1.2.2/National_extract_V1_2_2.csv
data/releases/V1.2.2/Spatial_extract_V1_2_2.csv
data/releases/V1.2.2/Temporal_extract_V1_2_2.csv
data/releases/V1.3/National_extract_V1_3.csv
data/releases/V1.3/Spatial_extract_V1_3.csv
data/releases/V1.3/Temporal_extract_V1_3.csv
docs/assets/National_extract_AFRO_V1_3.csv
docs/assets/National_extract_EMRO_V1_3.csv
docs/assets/National_extract_EURO_V1_3.csv
docs/assets/National_extract_PAHO_V1_3.csv
docs/assets/National_extract_SEARO_V1_3.csv
docs/assets/National_extract_WPRO_V1_3.csv
docs/assets/Spatial_extract_AFRO_V1_3.csv
docs/assets/Spatial_extract_EMRO_V1_3.csv
docs/assets/Spatial_extract_EURO_V1_3.csv
docs/assets/Spatial_extract_PAHO_V1_3.csv
docs/assets/Spatial_extract_SEARO_V1_3.csv
docs/assets/Spatial_extract_WPRO_V1_3.csv
docs/assets/Temporal_extract_AFRO_V1_3.csv
docs/assets/Temporal_extract_EMRO_V1_3.csv
docs/assets/Temporal_extract_EURO_V1_3.csv
docs/assets/Temporal_extract_PAHO_V1_3.csv
docs/assets/Temporal_extract_SEARO_V1_3.csv
docs/assets/Temporal_extract_WPRO_V1_3.csv

/.quarto/
